<div class="modal fade" id="modalProviderDetail" tabindex="-1" aria-labelledby="modalProviderDetailLabel" aria-hidden="true">
    <div class="modal-dialog custom">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <div class="col-11 text-close  d-flex justify-content-end pe-3">Cerrar</div>
          <button type="button" class="btn-close me-3" data-bs-dismiss="modal">
            <img src="../../assets/ico_close.svg" >
          </button>
        </div>
        <div class="d-flex modal-body pb-5">
            <div class="col-4 align-items-center border-r d-flex justify-content-center">
                <img class="img-provider" [ngClass]="{'img-provider-custom': providerData?.manufacturer?.name === 'Protameen Chemicals'}" [src]="providerConst[providerData?.manufacturer?.name]?.image">
            </div>
            <div class="col-8 pt-3 px-5">
                <p class="text-desc">{{providerConst[providerData?.manufacturer?.name]?.description}}</p>
                <span class="text-desc">ver sitio: <a [href]="providerConst[providerData?.manufacturer?.name]?.url">{{providerConst[providerData?.manufacturer?.name]?.url}}</a></span>
            </div>
        </div>
      </div>
    </div>
  </div>
