<div class="modal fade" id="modalIngredientDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" tabindex="-1" aria-labelledby="modalIngredientDetailLabel" aria-hidden="true">
    <div class="modal-dialog custom">
      <div class="modal-content">
        <div class="modal-header">
          <div class="fs-5 modal-title ps-5 ms-5" id="modalIngredientDetailLabel">{{ingredient?.name}}</div>
          <button type="button" class="btn-close me-3" data-bs-dismiss="modal">
            <img src="../../assets/ico_close.svg" >
          </button>
        </div>
        <div class="modal-body p-5 m-4">
            <p class="text-desc">{{ingredient?.description}}</p>
        </div>
      </div>
    </div>
  </div>
