<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet> -->
<div class="body">
  <header>
    <div class="row">
      <div class="col-12 pt-5 px-5">
        <img class="img-brand" src="../assets/fehrmann_brand.svg">
      </div>
      <div class="col-12 px-5 d-none">
        <a class="d-flex justify-content-end" href="javascript:void(0)">
          <span class="me-5 mt-4 txt-btn-back">Volver</span>
          <img class="img-back" src="../assets/ico_button_white_back.svg">
        </a>
      </div>
    </div>
  </header>
  <section>
    <div class="row col-12 text-center">
      <div class="col-12 ">
        <span class="title">
          ¡CONOCE LAS FORMULACIONES</span>
      </div>
      <div class="col-12">
        <span class="title">
          QUE SERÁN  <span class="bold"> TENDENCIA ESTE 2023!</span></span>
      </div>
    </div>
  </section>
  <footer>
    <span>footer</span>
  </footer>
</div>