<!--The content below is only a placeholder and can be replaced.-->

<div class="body">
  <header>
    <div class="row">
      <div class="col-12 pt-5 px-5">
        <img class="img-brand" src="../assets/fehrmann_brand.svg">
      </div>
      <div class="col-12 px-5 d-none">
        <a class="d-flex justify-content-end" href="javascript:void(0)">
          <span class="me-5 mt-4 txt-btn-back">Volver</span>
          <img class="img-back" src="../assets/ico_button_white_back.svg">
        </a>
      </div>
    </div>
  </header>
  <section>
    <!-- titulo -->
    <div class="row text-center">
      <div class="col-12 ">
        <span class="title">
          ¡CONOCE LAS FORMULACIONES</span>
      </div>
      <div class="col-12">
        <span class="title">
          QUE SERÁN  <span class="bold"> TENDENCIA ESTE 2023!</span></span>
      </div>
    </div>
    <!-- lista de formulaciones -->
    <router-outlet></router-outlet>
  </section>
  <footer>
    <div class="row">
      <div class="align-items-center col-11 d-flex offset-1 pt-5">
        <div class="col-8 mt-5 pt-5 d-flex">
          <span class="txt-footer mt-5">Escanea el código para conocer más de nosotros</span>
        </div>
        <div class="col-3 mx-auto">
          <div class="b-qr">
            <img class="img-qr" src="../assets/QR_fehrmann.jpeg">
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>